.hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  padding: 24.6rem 28.6rem 18.2rem 18.2rem; 
  justify-content: space-between;
  position: relative;

  &__title {
    font-size: 5.8rem;
    font-weight: bold;
    color: #42446e;
    line-height: 9rem;
    border: 1px solid gray;
    height: fit-content;
    padding: 1.5rem;
    border-radius: 4rem;
    background-color: white;
    border: none;
    opacity: 0.8;

    &__name {
      background: linear-gradient(45deg, #0b97c2, #f133a2);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__occupation {
      background: linear-gradient(45deg, #0b97c2, #f133a2);
      color: whitesmoke;
      padding: 0.5rem;
      border-radius: 0.75rem;
    }
  }

  &__img {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    box-shadow: 1.5rem 1.5rem 5rem gray;
  }

  &__video-cover {
    position: absolute;
    width: 100%;
    height: auto;
    top: -60px;
    left: 0;
    z-index: -1;
    // filter: grayscale(60%);
    opacity: 0.75;
  }
}
